body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.parent-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.child-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 50vh;
    border-radius: 10px;
    background-color: #f0f0f0;
}

.button-array {
    display: flex;
    gap: 15px;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sub-label {
    font-size: 14px;
    color: #555;
}

.custom-count {
    padding-top: 10px;
    font-size: 16px;
}

#count {
    font-size: x-large;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
    transition: background-color 0.8s;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}